.hero{
    height: 100vh;
    padding-top: 80px;
    background-image: url(https://cdn.wallpapersafari.com/25/60/Zpi3B8.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
}

.overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.hero-contents{
    padding-left: 60px;
    max-width: 600px;
}

.hero h1{
    font-size: 56px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero span{
    background: linear-gradient(90deg, #4169E1, #1E90FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p{
    color: #fff;
    margin-bottom: 30px;
}

.hero-buttons button{
    padding: 12px 15px;
    margin-right: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #4169E1;
}

.hero-buttons .outline{
    background: transparent;
    border: 2px solid white;
    color: white;
}

.hero-buttons button {
    transition: transform 0.3s ease;
}

.hero-buttons button:hover {
    transform: translateY(-2px);
}
